* {
    box-sizing: border-box;
}   
:root {
    --bg-primary:"#4352fc";
    --text-color-primary:"#ffffff";
    --box-shadow :0 2px 1px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.15),0 4px 16px rgba(0, 0, 0, 0.25);
    --box-shadow-hover :0 2px 1px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.05),0 4px 16px rgba(0, 0, 0, 0.05);
}
a {
    color:#fff !important;
}
a:hover {
    text-decoration: none !important;
}
body{
    padding: 0;
    margin: 0;
    font-size: 14px !important;
    font-family: 'Montserrat', Helvetica, sans-serif !important;
    background-color: #ececec !important;
    /* color: var(--text-color-primary) !important; */
    color: #fff!important;
}
.container {
    display:flex;
    justify-content:center;
    align-items:center;
}

.board-wrapper{
    min-width: 70%;
    height: 35rem;
    width: 35rem; 
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: var(--box-shadow-hover);
    display:flex;
    justify-content:center;
    align-items:center;
    cursor: pointer;
    border: 1px solid #efefef;
}
#board {
    display: flex;
    flex-direction: column;
    width: 80%; 
    height: 80%; 
}
.rows{
    flex: 1;
    display: flex;
}

.columns {
    border: 1px solid #efefef;
    flex: 1;
}

.border-none .rows .columns {
    border:none !important;
}
.title-label-hide.sidenav .sidenav-item .title-label {
    display:none !important;
    padding-left: 0 !important;
}
.title-label-hide.sidenav .btn .fa{
    text-align:center!important;
}
.title-label-hide.sidenav .sidenav-item i.fa.fa-angle-double-left {
    transform: rotate(45deg); 
}
.fa-angle-double-left{
    transform: rotate(0deg);  
}
.title-label{
    padding-left: 1rem;
    transition: padding-left 0.5s ease-in .3s;    
}
.shape-circle .rows .columns {
    border-radius: 50%;
}
.picker {
    cursor: crosshair;
}
.position{
    width: 100%;
}
.features{
    position: fixed;
    right: 0;
    top:0;
    min-width: 15%;
    height: 100%;
    background-color: #262626;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* .features{
    height: 35%;
    width: 100%;
    flex-direction: row;
} */
.sidenav{
    position: fixed;
    left: 0;
    top:0;
    min-width: 6%;
    height: 100%;
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-around;
    background-color: #262626;
    padding: 10px;
}   
/* .sidenav{
    flex-direction: row;
    justify-content: space-between;
    bottom:10%;
    min-width: 100%;
    height: 10%;
} */

.btn .fa {
    text-align: left !important;
}
.btn {
    font-weight: 600 !important;
    box-shadow: var(--box-shadow );
    cursor: pointer !important;
}
.sidenav-item:hover {
    cursor: pointer !important;
    box-shadow: var( --box-shadow-hover);
}
.title{
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.underline {
    margin-bottom: .7rem;
    padding: .1rem !important;
}

.color-palette {
    flex: 1;
    background-color: transparent !important;
    cursor: pointer;
}

.colorTile,.themeTile{
    border-radius: 50%;
    flex: 1;
    margin: 1px 6px; 
    transition: 1s;
    cursor: pointer !important;
    box-shadow: var(--box-shadow );
}

.active-color {
    border: 1px solid #ccc;
    flex: 1;
    margin: 1px auto; 
    cursor: pointer !important;
}
.colorTileRow,.active-colorRow,.theme-paletteRow{
    height: 1.5rem;
    flex: 1;
    display: flex;
    justify-content: space-around;
    margin-bottom: .5rem;
    background-color: transparent !important;
}
.theme-paletteRow .themeTile{
    border-radius: 20%;
    border:none;
    /* box-shadow: var(--box-shadow ); */
}
.theme-paletteRow .themeTile:hover {
    border:none;
    box-shadow: var(--box-shadow-hover);
    transition: 1s ease-in;
}
#count_slider {
    width: 100%;
}
.positionRow{
    display: flex;
    justify-content: space-around;
}
.positionRow span,.boardSize{
    color: #efe;
}
h1{
    color: #111;
    text-align: center;
    font-weight: bold;
    text-transform: capitalize;
}
.pixll-art-logo{
    text-align: center !important;
}
.size_slider,.savedGrid ,.theme-palette,.activeColor,.colors,.position,.count_slider,.sidenav-item{
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
#savedGridsList {
    height: 2.5rem;
    overflow-y: scroll;
}
.sidenav-item{
    padding: 1rem;
    border-radius: .3rem;
    text-align: left;
}

.title-label-hide.sidenav .sidenav-item.social-media {
    display: none;
}
.title-label-hide.sidenav .sidenav-item,.navbarToggle {
    text-align: center;
}
.navbarToggle {
   width: 3.5rem;
   margin:0 auto;
   border-radius: 50%;
}
.navbarToggle {
    text-align: center;
}
@media only screen and (max-width: 576px) {
    .board-wrapper{
        width:10rem;
        height:10rem;
    }
    .sidenav-item{
        text-align: center;
    }
    .title-label{
        display: none;  
    }
    .sidenav .sidenav-item.social-media {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .board-wrapper{
        width:17rem;
        height:17rem;
    }
   
}
@media only screen and (max-width: 900px) {
    .board-wrapper{
        width:25rem;
        height:25rem;
    }
}

